<% provide(:title, 'Contact') %>
<div class="hero-unit">
  <h1>Contact us!</h1>
  <p>
  You can reach us through our
  <a href="https://github.com/blegat/openvoc/issues">bug tracker</a>
  or through our
  <a href="mailto:openvoc@googlegroups.com">mailing list</a>.
  </p>
</div>
