<% provide(:title, 'Contact') %>
<div class="hero-unit">
  <h1>Contact us!</h1>
  <p>
  You can reach us through our
  <%= link_to_bug_tracker 'bug tracker' %>
  or through our
  <%= link_to_mailing_list 'mailing list' %>.
  </p>
</div>
