<div class="hero-unit">
  <h1>Welcome to Openvoc!</h1>
  <p>
  Openvoc helps you create vocabulary lists,
  share them and export them in various format easily.
  It is currently at its infancy but come back often to see its improvements.
  </p>
</div>
