<% provide(:title, "Languages") %>
<h1>Languages</h1>

<%= will_paginate %>
<ul class="unstyled">
  <% @languages.each do |language| %>
    <li>
    <%= link_to language.name, language_path(language) %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>

<br />
