<div class="row">
  <div class="col-md-2">
    <center>
      <%= gravatar_for @user %>
    </center>
  </div>
  <div class="col-md-7">
    <table class="table table-bordered">
      <tr>
        <th class="col-md-2">Nom</th>
        <td class="col-md-4"><%= @user.name %></td></tr>
      <% if current_user?(@user) %>
        <tr style="background-color:#F1F1F1;">
          <th>Email</th>
          <td><%= @user.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

