<footer class="footer">
<small>
	<a href="http://openvoc.gp2mv3.com/">Openvoc</a>
	by Benoît Legat and Philippe Verbist
</small>
<nav>
<ul>
	<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>
